//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import Foundation

protocol {{ module_info.name }}Presenter {
}

class {{ module_info.name }}PresenterImplementation: {{ module_info.name }}Presenter {

    weak var view: {{ module_info.name }}View!
    var router: {{ module_info.name }}Router!

    init(view: {{ module_info.name }}View, router: {{ module_info.name }}Router) {
        self.view = view
        self.router = router
    }
}
