//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import Foundation

protocol {{ module_info.name }}Configurator {
    func configure(for controller: {{ module_info.name }}ViewController)
}

class {{ module_info.name }}ConfiguratorImplementation: {{ module_info.name }}Configurator {
    func configure(for controller: {{ module_info.name }}ViewController) {
        let router = {{ module_info.name }}RouterImplementation.init(controller: controller)
        let presenter = {{ module_info.name }}PresenterImplementation.init(view: controller, router: router)
        controller.mPresenter = presenter        
    }
}
