//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import UIKit

protocol {{ module_info.name }}View: class {

}

class {{ module_info.name }}ViewController: UIViewController, {{ module_info.name }}View {

    var mPresenter: {{ module_info.name }}Presenter!
    var configurator: {{ module_info.name}}Configurator!
    
    static func xibInstance(with configurator: {{ module_info.name }}Configurator) -> {{ module_info.name }}ViewController {
        let vc = {{ module_info.name }}ViewController.init(nibName: "{{ module_info.name }}ViewController", bundle: nil)
            vc.configurator = configurator
        return vc
    }

    override func viewDidLoad() {
        super.viewDidLoad()

    }
}
