//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import Foundation

protocol {{ module_info.name }}Router {

}

class {{ module_info.name }}RouterImplementation: {{ module_info.name }}Router {

    weak var viewController: {{ module_info.name }}ViewController!
    
    init(controller: {{ module_info.name }}ViewController?) {
        self.viewController = controller
    }

}
